PyQt5==5.15.9
pyttsx3==2.90
SpeechRecognition==3.10.0
pyaudio==0.2.13
psutil==5.9.5
pyautogui==0.9.54
pytesseract==0.3.10
opencv-python==4.8.1.78
numpy==1.26.4
openai==1.14.2
python-docx==1.1.0
mysql-connector-python==8.3.0
wmi==1.5.1
pywin32==306
